body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.container form {
    margin: 10px;
}

.container form button:hover {
    transition: 1s;
    background-color: #000000;
    color: white;
}

.container a {
    font-size: 16px;
}

.container a:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
