/* App.css */
body, html, #root, .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

body{
    overflow: hidden;
}

body,#root,.container{
    padding: 0%;
    margin: 0%;
}

#root{
    margin-bottom: 1%;
}

canvas{
    width: 95%;
    height: 100%;
}

.iframe {
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
